div {
  display: grid;
  grid-gap: 12px;
}

ha-combo-box[label="Card type"]::after {
  content: "";
  position: relative;
  background-color: var(--background-color, var(--secondary-background-color));
  display: block;
  width: 100%;
  height: 1px;
  top: 12px;
  margin-bottom: 12px !important;
  opacity: 0.6;
}

#add-button {
  margin: 0 0 14px 0;
  color: var(--text-primary-color);
  width: 100%;
  height: 32px;
  border-radius: 16px;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
}

p {
  margin-bottom: 4px;
}

ha-icon, a, p, button, h4 {
  color: var(--primary-text-color) !important;
}

hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--outline-color);
  margin: 8px 0 0 0;
}

code, code-block {
  background: rgba(0,120,180,0.3);
  color: var(--primary-text-color);
  background-blend-mode: darken;
  padding: 1px 3px;
  border-radius: 6px;
  font-size: 13px;
}

code-block {
  display: grid;
  width: 100%;
  padding: 0;
  max-height: 285px;
  overflow: auto;
}

code-block pre {
  white-space: pre;
  overflow: auto;
  margin: 8px;
}

code-block.with-i pre {
  white-space: pre-line;
  overflow: auto;
  margin: 8px;
}

code-block.with-i pre > i {
  white-space: pre;
  font-style: normal;
}

img {
  max-width: 100%;
  margin: 14px 0;
}

img.example {
  padding: 32px;
  box-sizing: border-box;
  background: rgba(0, 120, 180, 0.8);
  border-radius: 6px;
}

.button-header {
  height: auto;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin: 0 8px;
}

.button-number {
  display: inline-flex;
  width: auto;
}

.remove-button {
  display: inline-flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.content {
  margin: 12px 4px 14px 4px;
}

h4 > ha-icon {
  margin: 8px 12px 8px 8px;
}

ha-expansion-panel h4:not(.version) {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ha-form {
  --expansion-panel-summary-padding: 2px 14px;
}

ha-textfield {
  width: 100%;
}

h3 {
  margin: 4px 0;
}

.code-editor {
  overflow: scroll;
}

.icon-button {
  background: rgba(0,120,180,0.5);
  border: none;
  cursor: pointer;
  padding: 8px;
  margin: 0;
  border-radius: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.icon-button.header {
  background: none;
  margin-left: auto !important;
  padding: 0;
  margin: 0 8px;
}

ha-card-conditions-editor {
  margin-top: -12px;
}

.disabled {
  opacity: 0.5; 
  pointer-events: none;
}

.version {
  font-size: 12px !important;
  color: #fff;
  background: rgba(0,0,0,0.1);
  padding: 8px 16px;
  border-radius: 32px;
}

.module-version {
  margin: 0;
}

.version-number {
  font-size: 10px;
  background: rgba(0,120,180,1);
  padding: 0px 8px;
  border-radius: 12px;
  margin-right: -6px;
  float: right;
  color: white;
}

.version-number a {
  color: white !important;
}