mwc-list-item {
    border-radius: var(--bubble-select-list-border-radius, var(--bubble-border-radius, 1.5em));
    margin: var(--bubble-select-list-item-margin-y, 0em) var(--bubble-select-list-item-margin-x, 0.5em);
}

mwc-list-item[selected] {
    color: var(--primary-text-color) !important;
    background-color: var(--bubble-select-list-item-accent-color, var(--bubble-list-item-accent-color, var(--bubble-accent-color, var(--accent-color)))); /* Added the missing 'select' in the first var without removing the previous one for compatibilty */ 
}

ha-select {
    --mdc-shape-medium: var(--bubble-select-list-border-radius, var(--bubble-border-radius, calc(var(--row-height,3.5em)/2)));
    --mdc-theme-surface: var(--bubble-select-list-background-color, var(--bubble-select-main-background-color, var(--bubble-main-background-color, var(--card-background-color, var(--secondary-background-color)))));
    --mdc-shape-large: 2em;
    --mdc-shape-small: 4em;
    --mdc-menu-max-width: min-content;
    --mdc-menu-min-width: var(--bubble-select-list-width, 12.5em);
    --mdc-select-max-width: min-content;
    --mdc-select-outlined-hover-border-color: transparent;
    --mdc-select-outlined-idle-border-color: transparent;
    --mdc-theme-primary: transparent;
    --right-value: calc(var(--mdc-menu-min-width) - 10em);
}

.bubble-sub-button ha-select {
    --right-value: calc(var(--mdc-menu-min-width) - 10.5em);
}

.mdc-select {
    color: transparent !important;
    width: var(--bubble-select-width, 9.375em) !important;
    position: absolute !important;
    pointer-events: none;
    right: var(--right-value, 2.875em);
    top: var(--bubble-select-top, -1.75em) !important;
}

.mdc-menu, mwc-list, .mdc-list-item {
    pointer-events: auto;
}

.mdc-select__dropdown-icon {
    display: none !important;
}

.mdc-select__selected-text {
    color: transparent !important;
}

.mdc-select__anchor {
    width: 100%;
    pointer-events: none;
}

.bubble-dropdown-container {
    display: flex !important;
    width: auto;
    height: 100%;
    align-items: center;
}

.bubble-dropdown-arrow {
    display: flex;
    position: absolute;
    background: var(--bubble-select-arrow-background-color, var(--bubble-icon-background-color, var(--bubble-secondary-background-color, var(--card-background-color, var(--ha-card-background)))));
    height: var(--bubble-select-arrow-size, 2.25em);
    width: var(--bubble-select-arrow-size, 2.25em);
    right: var(--bubble-select-arrow-right, 0.375em);
    pointer-events: none;
    border-radius: var(--bubble-select-button-border-radius, var(--bubble-border-radius, 1.25em));
    align-items: center;
    justify-content: center;
    transition-property: var(--bubble-select-arrow-transition-property, background, transform);
    transition-duration: var(--bubble-select-arrow-transition-duration, 0.2s);
    transition-timing-function: var(--bubble-select-arrow-transition-timing-function, ease-in-out);
    transition-delay: var(--bubble-select-arrow-transition-delay, 0s);
    pointer-events: none;
}

.bubble-dropdown-select {
    position: relative;
    width: var(--bubble-dropdown-select-width, 2.625em);
}