.bubble-range-slider {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: ew-resize;
    border-radius: calc(var(--bubble-button-border-radius, var(--bubble-border-radius, calc(var(--row-height,56px)/2))));
    overflow: hidden;
    mask-image: radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.bubble-background {
    background-color: var(--bubble-button-background-color);
    border-radius: calc(var(--bubble-button-border-radius, var(--bubble-border-radius, calc(var(--row-height,56px)/2))));
}

.bubble-buttons-container {
    display: contents;
}