.bubble-button.disabled {
    opacity: 0.3 !important;
    pointer-events: none !important;
    cursor: none !important;
}

.bubble-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--bubble-media-player-buttons-border-radius, var(--bubble-border-radius, calc(var(--row-height,56px)/2)));
  height: 42px;
  width: 42px;
  transition: background 0.3s ease;
  align-self: center;
  align-items: center;
  justify-content: center;
}