.bubble-container {
    display: flex;
    background: none;
    align-items: center;
    height: var(--bubble-separator-height, 2.5em);
    overflow: visible;
    --bubble-separator-border: none;
}
.bubble-icon {
    display: inline-flex;
    height: auto;
    width: auto;
    margin-top: var(--bubble-separator-margin-top, 0em);
    margin-right: var(--bubble-separator-margin-right, 1.375em);
    margin-bottom: var(--bubble-separator-margin-bottom, 0em);
    margin-left: var(--bubble-separator-margin-left, 0.5em);
}
.bubble-name {
    margin-right: var(--bubble-separator-name-margin-right, 1.875em);
    font-size: var(--bubble-separator-font-size, 1em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bubble-name:empty {
    display: none;
}

.bubble-line {
    border-radius: var(--bubble-separator-line-border-radius, 0.375em);
    margin-right: var(--bubble-separator-line-margin-right, 0.875em);
    opacity: var(--bubble-separator-line-opacity, 0.6);
    flex-grow: 1;
    height: var(--bubble-separator-line-height, 0.375em);
    background-color: var(--bubble-line-background-color, var(--ha-card-background-color, var(--secondary-background-color)));
}

.bubble-sub-button-container {
    margin-left: var(--bubble-separator-sub-button-margin-left, 0.5em);
}

.rows-2 .bubble-sub-button-container {
    --bubble-separator-sub-button-margin-left: 0.875em;
}

.large .bubble-container {
    --bubble-separator-height: 2.75em;
}