.bubble-container {
    border: solid 2px transparent;
    overflow: inherit;
}

.bubble-icon-container {
    padding-left: 0px;
    margin: 6px;
}

.large .bubble-icon-container {
    margin-left: 6px;
}