.bubble-temperature-container, .bubble-low-temp-container, .bubble-high-temp-container {
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    justify-content: var(--bubble-temperature-justify-content, center);
    align-items: var(--bubble-temperature-align-items, center);
    width: auto;
    height: var(--bubble-temperature-height, 2.25em);
    border-radius: var(--bubble-sub-button-border-radius, var(--bubble-border-radius, calc(var(--row-height,3.5em)/2)));
    background-color: var(--bubble-climate-button-background-color, var(--bubble-secondary-background-color, var(--card-background-color, var(--ha-card-background))));
}

.bubble-temperature-display {
    font-size: var(--bubble-temperature-display-font-size, 0.75em);
}

.bubble-low-temp-container {
    color: var(--state-climate-heat-color, var(--state-climate-active-color, var(--state-active-color)));
}

.bubble-high-temp-container {
    color: var(--state-climate-cool-color, var(--state-climate-active-color, var(--state-active-color)));
}

.bubble-target-temperature-container {
    display: flex;
    gap: var(--bubble-target-temperature-gap, 0.625em);
}

.bubble-climate-minus-button,
.bubble-climate-plus-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--bubble-climate-button-size, 2.25em);
    height: var(--bubble-climate-button-size, 2.25em);
    vertical-align: middle;
    color: var(--primary-text-color);
    cursor: pointer;
}

.bubble-temperature-container ha-icon {
    --bubble-icon-size: 1.125em;
}

.bubble-climate-minus-button-icon,
.bubble-climate-plus-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    --mdc-icon-size: 1em;
}

@keyframes tap-warning {
    10%, 90% { transform: translateX(-1px); }
    20%, 80% { transform: translateX(1px); }
    30%, 50%, 70% { transform: translateX(-2px); }
    40%, 60% { transform: translateX(2px); }
}