.bubble-container.no-background,
.bubble-container.no-background::after,
.bubble-container.no-background::before {
  background-color: transparent !important;
  border-radius: 0 !important;
  overflow: visible !important;
  border: none !important;
  box-shadow: none !important;
}

.no-background .bubble-sub-button-container {
  right: 0;
}

.bubble-sub-button-container.space-between-justify {
  justify-content: space-between !important;
}

.bubble-sub-button-container {
  height: auto;
  min-height: auto;
  max-height: none;
}

ha-card.footer-mode {
  bottom: var(--bubble-footer-bottom, 16px);
  height: auto;
  margin-top: 0;
  position: fixed;
  width: calc(100% - var(--mdc-drawer-width, 0px) - 8px);
  left: calc(var(--mdc-drawer-width, 0px) + 4px);
  z-index: 6; /* Higher value hide the more-info panel */
}

ha-card.footer-mode:not(.footer-full-width) {
  width: var(--bubble-footer-width, 500px);
  left: calc(var(--mdc-drawer-width, 0px) + (100% - var(--mdc-drawer-width, 0px) - var(--bubble-footer-width, 500px)) / 2);
}

@media only screen and (max-width: 600px) {
  ha-card.footer-mode {
    width: calc(100% - 16px);
    left: 8px;
  }
  
  ha-card.footer-mode:not(.footer-full-width) {
    width: calc(100% - 16px);
    left: 8px;
  }
}

ha-card.footer-mode .bubble-container {
  margin: 0;
  box-shadow: var(--bubble-footer-box-shadow, 2px 2px 40px rgba(0, 0, 0, 0.4));
}

ha-card.footer-mode .bubble-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: var(--bubble-pop-up-main-background-color, var(--bubble-secondary-background-color, var(--background-color, var(--secondary-background-color))));
}

ha-card.footer-mode.editor {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
}