.empty-column {
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.large .empty-column {
    height: calc( var(--row-height,56px) * var(--row-size,1) + var(--row-gap,8px) * ( var(--row-size,1) - 1 ) );
}
