.bubble-container {
  height: var(--bubble-calendar-height, 56px);
  display: flex;
  gap: 8px;
}
.bubble-calendar-content {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  overflow: scroll;
}
.bubble-calendar-content.can-scroll-top {
  mask-image: linear-gradient(to bottom, transparent 0%, black var(--bubble-calendar-mask-size, 16px), black 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black var(--bubble-calendar-mask-size, 16px), black 100%);
}
.bubble-calendar-content.can-scroll-bottom {
  mask-image: linear-gradient(to bottom, black 0%, black calc(100% - var(--bubble-calendar-mask-size, 16px)), transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black calc(100% - var(--bubble-calendar-mask-size, 16px)), transparent 100%);
}
.bubble-calendar-content.can-scroll-top.can-scroll-bottom {
  mask-image: linear-gradient(to bottom, transparent 0%, black var(--bubble-calendar-mask-size, 16px), black calc(100% - var(--bubble-calendar-mask-size, 16px)), transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black var(--bubble-calendar-mask-size, 16px), black calc(100% - var(--bubble-calendar-mask-size, 16px)), transparent 100%);
}
.card-content::after {
  border-radius: 0 0 var(--bubble-calendar-border-radius, var(--bubble-border-radius, 32px)) var(--bubble-calendar-border-radius, var(--bubble-border-radius, 32px));
  content: "";
  display: flex;
  height: 32px;
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  transition: opacity .2s, transform .2s;
  z-index: 1;
}
.bubble-sub-button-container {
  flex-shrink: 0;
  position: sticky !important;
  top: 0;
}
.bubble-day-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 7px 16px 7px 8px;
  position: relative;
  box-sizing: border-box;
}
.bubble-day-wrapper + .bubble-day-wrapper::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 62px;
  right: 16px;
  height: 2px;
  background-color: var(--bubble-button-icon-background-color, var(--bubble-icon-background-color, var(--bubble-secondary-background-color, var(--card-background-color, var(--ha-card-background)))));
}
.bubble-day-chip {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: var(--bubble-button-icon-border-radius, var(--bubble-icon-border-radius, var(--bubble-border-radius, 50%)));
  background-color: var(--bubble-button-icon-background-color, var(--bubble-icon-background-color, var(--bubble-secondary-background-color, var(--card-background-color, var(--ha-card-background)))));
  position: relative;
}
.bubble-day-number {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  opacity: 0.6;
}
.is-active .bubble-day-number {
  filter: brightness(1.1);
  opacity: 1;
}
.bubble-day-month {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  opacity: 0.6;
}
.is-active .bubble-day-month {
  filter: brightness(1.1);
  opacity: 1;
}
.bubble-day-events {
  width: 100%;
  border-radius: var(--bubble-calendar-border-radius, var(--bubble-border-radius, 32px));
  min-width: 0;
}
.bubble-event {
  background-color: var(--bubble-event-background-color);
  background-image: var(--bubble-event-background-image);
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 4px 6px;
  border-radius: var(--bubble-calendar-border-radius, var(--bubble-border-radius, 32px));
  margin-left: -6px;
  position: relative;
  line-height: 1em;
}
.bubble-event-time {
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  flex-shrink: 0;
  flex-grow: 0;
  opacity: 0.7;
}
.bubble-event-color {
  height: 12px;
  width: 12px;
  border-radius: var(--bubble-calendar-border-radius, var(--bubble-border-radius, 32px));
  flex-shrink: 0;
  flex-grow: 0;
}
.bubble-event-name-wrapper {
  width: 10px;
  flex: 1;
}
.bubble-event-name {
  font-size: 13px;
  font-weight: 600;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bubble-event-place {
  opacity: 0.6;
  display: flex;
  align-items: center;
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 1;
  flex-grow: 1;
}
.bubble-event-place-icon {
  display: inline-flex;
  --mdc-icon-size: 12px;
  margin-right: 4px;
}

.bubble-sub-button-container.fixed-top  {
  margin-top: 10px;
}

.with-bottom-buttons .bubble-calendar-content {
  height: 52px;
}