.bubble-range-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    left: -100%;
    transition: all .3s;
    z-index: 0;
}

.is-light .is-dragging .bubble-range-fill {
    background-color: var(--bubble-light-color, rgb(225, 225, 210));
}

.is-dragging .bubble-range-fill {
    background-color: var(--bubble-accent-color, var(--info-color));
    transition: none !important;
}

.is-light .bubble-range-fill {
    opacity: 0.5;
}

.bubble-range-value {
    position: absolute;
    right: 14px;
}

.is-unavailable .bubble-range-slider {
    cursor: not-allowed;
}

.slider-appear-animation {
    transition: none;
    animation: sliderAppear 0.2s ease-in-out;
    transform-origin: center;
}

@keyframes sliderAppear {
    0% {
        transform: scale(0.96);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}